.pay-info-002.receipt dt, .pay-main-col.receipt dt {
    text-align: right;
    color: #265a88;
    width: 130px;
}

@media (min-width: 768px) {
    .pay-info-002.receipt dd, .pay-main-col.receipt dd {
        margin-right: 130px;
    }
}

.help.receipt .well, .pay-main-col.receipt .well {
    /*height: 260px !important;*/
    padding-top: 5px;
}

.pay-info-002.receipt {
    height: 100px !important;
}

.pay-info.receipt .well {
    height: 462px !important;
}

.help.receipt .well {
    height: 207px;
}




.help.receipt {
    width: 370px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .help.receipt {
        width: 100%;
    }
}

@media (max-width: 460px) {
    .help.receipt {
        width: 275px;
    }

    .pay-info-collapse {
        width: 275px !important;
    }
}

img {
    max-width: 100%;
}


@media (max-width: 300px) {
    .pay-info-collapse {
        width: 100% !important;
    }

    .pay-main-col {
        width: 100%;
    }

    .help .ssl {
        height: 38px !important;
        width: 38px !important;
    }

    .pay-main-col .pay-main-col-001 span {
               display: none;
               visibility: hidden;
        }

}

@media (max-width: 275px) {
    .pay-main-col .pay-main-col-001 input {
        max-width: 39px !important;
        padding: 0 2px;
        margin-right: 2px;
    }

    /*.pay-main-col .pay-main-col-001 span {
        font-size: 8px;
        padding: 0 1px 0 0 !important;
    }*/
}


/*--------------------------------------------------------*/
/*-----------------*/

.pay-main-col-table {
    overflow: hidden;
    float: left;
}
.pay-main-col-table .pay-layout {
    display: table;
    table-layout: fixed;
}
.pay-main-col-table .pay-layout-row {
    display: table-row;
}
.pay-main-col-table .pay-layout-row .pay-layout-cell {
    display: table-cell;
    vertical-align: top;
}
.pay-main-col-table .pay-layout-row .pay-layout-cell.pay-layout-cell-input {
    width: 10%;
}
.pay-main-col-table .pay-layout-row .pay-layout-cell.pay-layout-cell-input input{
    text-align: center;
}
.pay-main-col-table .pay-layout-row .pay-layout-cell.pay-layout-cell-divider {
    width: 2%;
    padding: 0 1%;
}
.pay-main-col-table .pay-layout-row .pay-layout-cell.pay-layout-cell-divider span {
    display: block;
    border-top: 2px solid #888888;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    top: 14px;
}
.date-main-col-table .date-layout {
    display: table;
    table-layout: fixed;
}
.date-main-col-table .date-layout .date-layout-row {
    display: table-row;
}
.date-main-col-table .date-layout .date-layout-row .date-layout-cell {
    display: table-cell;
    vertical-align: top;
}
.date-main-col-table .date-layout .date-layout-row .date-layout-cell input{
    text-align: center;
}
.captcha-wrapper{
    border: 1px solid #cccccc;
    overflow: hidden;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #c9d0d9;
    background: -webkit-linear-gradient(left, #c9d0d9, #c9d0d9 , white);
    background: -webkit-gradient(linear, left top, right top, from(#c9d0d9) , to(white));
    background: linear-gradient(to right, #c9d0d9, #c9d0d9 , white);
}
.captcha-wrapper .pay-main-col-007 button{
    border: 0;
    padding: 2px 5px;
    -webkit-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    background: none;
}
.num-pass{
    -webkit-text-security:disc !important;
}
#_p1,#_p123 {
    font-size: 8px;
}
.btn.pay-info-collapse, .btn-c.btn-success, .btn-c.btn-danger {
    position: relative;
    overflow: hidden;
}

.btn-c-1 {
    right: 12px;
    position: absolute;
    top: 12px;
    font-size: 17px;
    transition: top 0.3s ease;
}

.btn-c-2 {
    right: 12px;
    position: absolute;
    top: -15px;
    font-size: 17px;
    transition: top 0.3s ease;
}

.btn-c-3 {
    right: 10px;
    position: absolute;
    top: -15px;
    font-size: 15px;
    -webkit-transition: top 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition: top 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition: top 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition: top 100ms cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -webkit-transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -moz-transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);
    -o-transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);
    transition-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.btn.pay-info-collapse[aria-expanded="true"] .btn-c-1 {
    top: 40px;
}

.btn.pay-info-collapse[aria-expanded="true"] .btn-c-2 {
    top: 12px;
}

.btn-c.btn-success:hover .btn-c-3, .btn-c.btn-danger:hover .btn-c-3 {
    top: 9px
}

.help {
    cursor: default;
}

.help .well ul li:hover {
    color: #0085ca;
}

@media (min-width: 1200px) {
    .pay-info .well {
        height: 412px !important;
    }
    .date-main-col-table {
        width: 215px;
    }
}
@media (max-width: 1199px) and (min-width: 992px){
    .date-main-col-table {
        width: 170px;
    }
}
@media (max-width: 991px) and (min-width: 768px){
    .date-main-col-table {
        width: 158px;
    }
}
@media (max-width: 767px) and (min-width: 461px){
    .date-main-col-table {
        width: 170px;
    }
}
@media (max-width: 767px) {
    .pay-info .well {
        height: 310px !important;
    }

    .pay-info.footer-style-2 .pay-info-002 {
        height: 120px;
    }

    .pay-info-004 p {
        display: none;
    }

    .pay-info-004 a p {
        display: block;
        display: block;
    }

    .help .well {
        padding: 20px 10px 10px 10px;
    }

    .help .well p {
        font-size: 11px;
        margin: 0;
    }

    .help .well h5 {
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 1.8;
        font-weight: bold;
        width: 85%;
    }

    .help .well ul {
        padding-right: 20px;
    }

    .help .well .title span.glyphicon {
        font-size: 13px;
        margin-left: 7px;
    }

    .help .ssl {
        height: 48px !important;
        width: 48px !important;
    }
}
@media (max-width: 460px) {
    .pay-main-col {
        width: 100% !important;
    }
    .pay-main-col-table .pay-layout-row .pay-layout-cell.pay-layout-cell-input input{
        padding: 0 2px;
    }
    .pay-main-col-table .pay-layout-row .pay-layout-cell.pay-layout-cell-divider {
        width: 1%;
         padding: 0;
    }
    .pay-info-collapse {
        display: block !important;
        width: 100% !important;
    }
    .timer {
        width: 200px;
    }
    .timer span {
        left: 25px;
    }
}

.cov{
                  position: absolute;
    width: 100%;
    height: 30px;
        }
.vPassWrapper{
    overflow: hidden;
    position: relative;
    float: left;
    top: 0;
    left: 0;
    z-index: 9;
    height: 30px;
}
.vPassWrapper input{
    font-size: 1px;
    color: white;
    padding: 13px 10px !IMPORTANT;
}
.vPassWrapper .bWrapper{
    position: absolute;
    left: 4px;
    top: 0;
}
.vPassWrapper .bWrapper .b{
    line-height: 30px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 8px;
    margin: 0 1px;
    display: inline;
}
.vPassWrapper .bWrapper .b:before{
    content: "\002a";
}
@media (max-width: 460px) {
    .vPassWrapper{
        width: 100%;
    }
}
 

.hPass{
    width:0 !important;
    height:0 !important;
    visibility:hidden !important;
    display:none !important;
}